/* Write your CSS here */
.background {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.heading {
  color: #ffffff;
  font-size: 50px;
}

.image {
  width: 50%;
}
.countText {
  color: #ffffff;
  font-size: 35px;
}
.text {
  color: #cbd5e1;
}
.buttonContainer {
  height: 35px;
  display: flex;

  width: 20%;
  justify-content: space-around;
}
.button {
  width: 40%;
  cursor: pointer;
  border-radius: 12px;
  color: #ffffff;
}

.incrementButton {
  background-color: #0b69ff;
  border-width: 0px;
}
.decrementButton {
  border: 1px solid #94a3b8;
  background-color: #07080c;
}
